---
import Image from '~/components/common/Image.astro';
import Button from '~/components/ui/Button.astro';

import type { Hero as Props } from '~/types';
import { ElButton } from 'element-plus';
const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,

  content = await Astro.slots.render('content'),
  actions = await Astro.slots.render('actions'),
  image = await Astro.slots.render('image'),

  id,
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<section class="relative md:-mt-[76px] not-prose" {...id ? { id } : {}}>
  <div class="absolute inset-0 pointer-events-none" aria-hidden="true">
    <slot name="bg">
      {bg ? <Fragment set:html={bg} /> : null}
    </slot>
  </div>
  <div class="relative mx-auto">
    <div
      class="intersect-once intercept-no-queue intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
    >
    <div class="relative w-full h-full">
       <img class="w-full" src="../../src/assets/images/game-img.png" alt="">

      <!-- 文字内容 -->
      <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white font-bold text-lg flex flex-col items-center justify-between ">
        <div> <img src="../../src/assets/images/ffClould.png" alt=""  class="ml-2 py-2.5 px-5.5 md:px-6 font-semibold shadow-none text-sm w-auto " > </div>
        <div> <img src="../../src/assets/images/ffClouldDesc.png" alt=""  class="ml-2 py-2.5 px-5.5 md:px-6 font-semibold shadow-none text-sm w-auto " > </div>
        <div> <img src="../../src/assets/images/yxkbtn.png" alt=""  class="ml-2 py-2.5 px-5.5 md:px-6 font-semibold shadow-none text-sm w-auto cursor-pointer" > </div>
      </div>
    </div>
    </div>
  </div>
</section>
