---
import Image from '~/components/common/Image.astro';
import Button from '~/components/ui/Button.astro';

import type { Hero as Props } from '~/types';
import { ElButton } from 'element-plus';
const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,

  content = await Astro.slots.render('content'),
  actions = await Astro.slots.render('actions'),
  image = await Astro.slots.render('image'),

  id,
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<section class="relative md:-mt-[76px] not-prose" {...id ? { id } : {}}>
  <div class="absolute inset-0 pointer-events-none" aria-hidden="true">
    <slot name="bg">
      {bg ? <Fragment set:html={bg} /> : null}
    </slot>
  </div>
  <div class="relative mx-auto">
    <div
      class="intersect-once intercept-no-queue intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
    >
      <div class="relative w-full h-full">
        <img class="w-full" src="/assets/images/game-img.png" alt="" />

        <!-- 文字内容 -->
        <div
          class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white font-bold text-lg flex flex-col items-center justify-between"
        >
          <div>
            <img src="/assets/images/ffClould.png" alt="" class="mt-[] w-[17.87vw] h-[4.17vw]" />
          </div>
          <div>
            <img src="/assets/images/ffClouldDesc.png" alt="" class="mt-[] w-[46.51vw] h-[4.17vw]" />
          </div>

          <div>
            <a id="gameLibraryLink" class="w-[12.19vw] h-[3.84vw] mt-[2.71vw] cursor-pointer block">
              <img src="/assets/images/yxkbtn.png" alt="" class="w-full h-full" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div
      class="w-full absolute bottom-0 h-[4.5vw]"
      style=" opacity: 0.7; background: linear-gradient(to bottom, transparent 0%,  #221D1B 56.36%, #000000 100%);"
    >
    </div>
  </div>
</section>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var link = document.getElementById('gameLibraryLink');
    if (link) {
      link.addEventListener('click', function (event) {
        // 延迟执行，确保能够处理所有设备
        setTimeout(function () {
          window.location.href = '/gameLibrary';
        }, 10); // 延迟10ms避免阻止默认跳转的冲突
      });
    }
  });
</script>
