---
import Image from '~/components/common/Image.astro';
import Button from '~/components/ui/Button.astro';

import type { Hero as Props } from '~/types';
import { ElButton } from 'element-plus';
const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,

  content = await Astro.slots.render('content'),
  actions = await Astro.slots.render('actions'),
  image = await Astro.slots.render('image'),

  id,
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<section class="relative md:-mt-[76px] not-prose" {...id ? { id } : {}}>
  <div class="absolute inset-0 pointer-events-none" aria-hidden="true">
    <slot name="bg">
      {bg ? <Fragment set:html={bg} /> : null}
    </slot>
  </div>
  <div class="relative  mx-auto">
    <div class="intersect-once intercept-no-queue intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
      {image && (
        <div class="relative w-full h-full">
          {typeof image === 'string' ? (
            <Fragment set:html={image} />
          ) : (
            <Image
              class="w-full h-full object-cover"  // 使用 object-cover 保证图片充满容器且保持比例
              widths={[400, 768, 1024, 2040]}
              sizes="(max-width: 767px) 100vw, (max-width: 1023px) 100vw, (max-width: 2039px) 100vw, 100vw"
              loading="eager"
              width={2040}
              height={1152}  // 高度根据横向比例调整，确保在横屏情况下图片不会被拉伸
              {...image}
            />
          )}
    
          <!-- 文字内容 -->
          <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white font-bold text-lg flex flex-col items-center justify-between ">
           <div>飞鱼游戏云</div>
           <div>自助游戏开服平台丨 体验快速开服联机</div>
           <div><ElButton plain >游戏库</ElButton></div>
          </div>
        </div>
      )}
    </div>
      
    </div>
  </div>
</section>
