---
// import { Icon } from 'astro-icon/components';
import Problem from '~/components/problem.astro';
import Partners from '~/components/partners.astro';
import Feature from '../feature.astro';
import Faceplate from '../faceplate.astro';

const accordionItems = [
  { title: '折叠面板 1', content: '这里是第一个折叠面板的内容。' },
  { title: '折叠面板 2', content: '这里是第二个折叠面板的内容。' },
  { title: '折叠面板 3', content: '这里是第三个折叠面板的内容。' },
];
---

<section
  class="not-prose ease-in-out"
  style="background-color: #211d1b; background-size: cover; background-position: center;"
>
  <Feature />
  <div class="w-full pt-[6.07vw] pb-[6.25vw] flex justify-center">
    <img src="/assets/images/热门游戏库.png" alt="" class="w-[61.61vw] h-[5.57vw]" />
  </div>
  <div
    class="background-overlay w-[80.99vw] h-[37.24vw] flex mx-auto p-[1.30vw] rounded-[0.26vw] border border-[rgba(176,162,158,0.5)] bg-gradient-to-b from-[rgba(176,162,158,0.5)] to-[rgba(0,0,0,0.8)]]"
  >
    <div
      style="background: linear-gradient(270deg, rgba(240, 228, 221, 0.3) 0%, rgba(255, 255, 255, 0) 100%);"
      class="w-[25.63vw] h-[34.58vw] mr-[2.34vw] border border-[rgba(176,162,158,1)] rounded-[0.26vw] flex justify-center items-center"
    >
      <img src="/assets/images/游戏库左1.png" alt="" class="w-[24.55vw] h-[33.64vw]" />
    </div>
    <div class="w-[26.25vw] h-[34.58vw] mr-[2.5vw] flex justify-between items-center flex-col">
      <div
        class="flex justify-center items-center p-[0.36vw]"
        style="border: 1px solid rgba(176, 162, 158, 1); border-radius: 0.26vw; background: linear-gradient(270deg, rgba(240, 228, 221, 0.3) 0%, rgba(255, 255, 255, 0) 100%);"
      >
        <img src="/assets/images/中上.png" alt="" class="w-[25.19vw] h-[12.14vw]" />
      </div>
      <div
        class="flex justify-center items-center p-[0.36vw]"
        style="border: 1px solid rgba(176, 162, 158, 1); border-radius: 0.26vw; background: linear-gradient(270deg, rgba(240, 228, 221, 0.3) 0%, rgba(255, 255, 255, 0) 100%);"
      >
        <img src="/assets/images/中下.png" alt="" class="w-[25.16vw] h-[19.43vw]" />
      </div>
    </div>
    <div class="flex items-center flex-col">
      <div>
        <img
          id="gameLibraryLinkBtn"
          src="/assets/images/查看更多游戏.png"
          alt=""
          class="mt-[1.3vw] mb-[1.3vw] cursor-pointer w-[13.75vw] h-[4.17vw]"
        />
      </div>
      <div
        class="mb-[1.2vw] flex justify-center items-center p-[0.36vw]"
        style="border: 1px solid rgba(176, 162, 158, 1); border-radius: 0.26vw; background: linear-gradient(270deg, rgba(240, 228, 221, 0.3) 0%, rgba(255, 255, 255, 0) 100%);"
      >
        <img src="/assets/images/右中.png" alt="" class="w-[21.41vw] h-[12.14vw]" />
      </div>
      <div
        class="flex justify-center items-center p-[0.36vw]"
        style="border: 1px solid rgba(176, 162, 158, 1); border-radius: 0.26vw; background: linear-gradient(270deg, rgba(240, 228, 221, 0.3) 0%, rgba(255, 255, 255, 0) 100%);"
      >
        <img src="/assets/images/右下.png" alt="" class="w-[21.41vw] h-[12.14vw]" />
      </div>
    </div>
  </div>
  <div
    class="pt-[16vw]"
    style="background-image: url('/assets/images/212bg.png');background-size: contain;background-repeat: no-repeat;   "
  >
    <Faceplate />
    <Partners />
    <Problem items={accordionItems} />
  </div>
</section>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var link = document.getElementById('gameLibraryLinkBtn');
    if (link) {
      link.addEventListener('click', function (event) {
        // 延迟执行，确保能够处理所有设备
        setTimeout(function () {
          window.location.href = '/gameLibrary';
        }, 10); // 延迟10ms避免阻止默认跳转的冲突
      });
    }
  });
</script>
<style>
  .background-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(176, 162, 158, 0.3);
    z-index: -1;
  }
</style>
