---
// import { Icon } from 'astro-icon/components';
import Problem from '~/components/problem.astro';
import Partners from '~/components/partners.astro';
import Feature from '../feature.astro';
import Faceplate from '../faceplate.astro';

const accordionItems = [
  { title: '折叠面板 1', content: '这里是第一个折叠面板的内容。' },
  { title: '折叠面板 2', content: '这里是第二个折叠面板的内容。' },
  { title: '折叠面板 3', content: '这里是第三个折叠面板的内容。' },
];
---

<section
  class="not-prose ease-in-out"
  style="background-color: #211d1b; background-size: cover; background-position: center;"
>
  <Feature />
  <div class="w-full pt-[6.07vw] pb-[6.25vw] flex justify-center">
    <img src="/assets/images/热门游戏库.png" alt="" class="w-[61.61vw] h-[5.57vw]" />
  </div>
  <div
    class="w-[80.99vw] h-[37.24vw] flex mx-auto opacity-30  p-[1.30vw] rounded-[0.26vw] border border-[rgba(176,162,158,0.5)] bg-gradient-to-b from-[rgba(176,162,158,0.5)] to-[rgba(0,0,0,0.8)]]"
  >
  <div class="w-[25.63vw] h-[34.58vw] mr-[2.34vw]  border border-[rgba(176,162,158,1)] rounded-[0.26vw] flex justify-center items-center">
    <img src="/assets/images/游戏库左1.png" alt="" class="w-[24.91vw] h-[34.0vw]">
  </div>
    <div class="w-[26.25vw] h-[34.58vw] mr-[2.5vw]" style="border: 1px solid rgba(176, 162, 158, 1);border-radius: 0.26vw;"></div>
    <div class="w-[22.19vw] h-[34.58vw]" style="border: 1px solid rgba(176, 162, 158, 1);border-radius: 0.26vw;"></div>
  </div>
  <div style="background-image: url('/assets/images/212bg.png') " class="py-40"><Faceplate /></div>
  <Partners />
  <Problem items={accordionItems} />
</section>
