---
// import { Icon } from 'astro-icon/components';
import Problem from '~/components/problem.astro';
import Partners from '~/components/partners.astro';
import Feature from '../feature.astro';
import Faceplate from '../faceplate.astro';

const accordionItems = [
  { title: '折叠面板 1', content: '这里是第一个折叠面板的内容。' },
  { title: '折叠面板 2', content: '这里是第二个折叠面板的内容。' },
  { title: '折叠面板 3', content: '这里是第三个折叠面板的内容。' },
];
---

<section
  class="not-prose ease-in-out"
  style="background-color: #211d1b; background-size: cover; background-position: center;"
>
  <!-- <Feature /> -->
  <!-- <div class="w-full pt-[6.07vw] pb-[6.25vw] flex justify-center">
    <img src="/assets/images/热门游戏库.png" alt="" class="w-[61.61vw] h-[5.57vw]" />
  </div>
  <div class="mb-[6.25vw] mt-[6.04vw] pt-[14.79vw] w-[61.61vw] h-[20vw] mx-auto">
    纯代码实现热门游戏库标题
    <div class="flex">
      <div class="h-[1.458vw] w-[23.02vw]">
        <div class="h-[1.458vw] w-[23.02vw]" style="border-bottom: 0.052vw solid rgba(255, 173, 148, 0.18);">
          <div class="h-[1.458vw] w-[23.02vw] relative" style="border-bottom: 0.052vw solid rgba(255, 173, 148, 0.18);">
            <div class="absolute bottom-0 left-0 transform translate-x-[-100%] translate-y-[50%]">
              <div class="circle-ring">
                <div class="outer-circle"></div>
                <div class="middle-circle"></div>
                <div class="inner-circle"></div>
              </div>
            </div>
            <div class="w-[0.26vw] h-[0.26vw] bg-[#FFAD9430] absolute bottom-0 right-0 transform translate-x-[100%] translate-y-[50%] " style="border-radius: 50%;" ></div>
          </div>
        </div>
        <div class="h-[1.458vw] w-[23.02vw]"></div>
      </div>
      <div class="w-[15.57vw] h-[2.916vw] flex justify-center mx-auto" style="font-size: 1.979vw;font-weight: 700;">
        <span class="text-[#F26A16]">热门</span>
        <span class="text-[#FFFFFF]">游戏库</span>
      </div>
      <div class="h-[1.458vw] w-[23.02vw]">
        <div class="h-[1.458vw] w-[23.02vw] relative" style="border-bottom: 0.052vw solid rgba(255, 173, 148, 0.18);">
          <div class="absolute bottom-0 right-0 transform translate-x-[100%] translate-y-[50%]">
            <div class="circle-ring">
              <div class="outer-circle"></div>
              <div class="middle-circle"></div>
              <div class="inner-circle"></div>
            </div>
          </div>
          <div class="w-[0.26vw] h-[0.26vw] bg-[#FFAD9430] absolute bottom-0 left-0 transform translate-x-[-100%] translate-y-[50%] " style="border-radius: 50%;" ></div>
        </div>
        <div class="h-[1.458vw] w-[23.02vw]"></div>
      </div>
    </div>
    <div class="flex justify-center items-center flex-col">
      <div
        class="w-[22.08vw] h-[0.052vw] mb-[1.04vw]"
        style="background: linear-gradient(to right, rgba(242, 106, 22, 0) 0%, rgba(242, 106, 22, 1) 50%, rgba(242, 106, 22, 0) 100%); height: 0.078vw;"
      >
      </div>
      <div class="text-[#949494]" style="width: fit-content;font-size: 0.833vw;">
        无需配置，开箱即用，简单复制IP端口，直接畅快开玩
      </div>
    </div>
  </div>
  <div
    class="background-overlay gameDB w-[80.99vw] h-[37.24vw] flex mx-auto p-[1.30vw] rounded-[0.26vw] border border-[rgba(176,162,158,0.5)] bg-gradient-to-b from-[rgba(176,162,158,0.5)] to-[rgba(0,0,0,0.8)]]"
  >
    <div
      style="background: linear-gradient(270deg, rgba(240, 228, 221, 0.3) 0%, rgba(255, 255, 255, 0) 100%);"
      class="w-[25.63vw] h-[34.58vw] mr-[2.34vw] border border-[rgba(176,162,158,1)] rounded-[0.26vw] flex justify-center items-center"
    >
      <img src="/assets/images/游戏库左1.png" alt="" class="w-[23.65vw] h-[33.64vw] gameDBImg" />
    </div>
    <div class="w-[26.25vw] h-[34.58vw] mr-[2.5vw] flex justify-between items-center flex-col">
      <div
        class="flex justify-center items-center p-[0.36vw]"
        style="border: 1px solid rgba(176, 162, 158, 1); border-radius: 0.26vw; background: linear-gradient(270deg, rgba(240, 228, 221, 0.3) 0%, rgba(255, 255, 255, 0) 100%);"
      >
        <img src="/assets/images/中上.png" alt="" class="w-[25.19vw] h-[12.14vw] gameDBImg" />
      </div>
      <div
        class="flex justify-center items-center p-[0.36vw]"
        style="border: 1px solid rgba(176, 162, 158, 1); border-radius: 0.26vw; background: linear-gradient(270deg, rgba(240, 228, 221, 0.3) 0%, rgba(255, 255, 255, 0) 100%);"
      >
        <img src="/assets/images/中下.png" alt="" class="w-[25.16vw] h-[19.43vw] gameDBImg" />
      </div>
    </div>
    <div class="flex items-center flex-col">
      <div>
        <div
          id="gameLibraryLinkBtn"
          style="background-size: 200% 100%; transition: background-position 0.5s ease-in-out, transform 0.5s ease-in-out;font-size: 1.3542vw;"
          class="mt-[1.3vw] mb-[1.3vw] text-center cursor-pointer w-[13.75vw] h-[4.17vw] text-white leading-[4.17vw] rounded-[0.3125vw] bg-gradient-to-r from-[#40C6FF] to-[#1C80EB] transition-all duration-500 ease-in-out hover:scale-105"
        >
          查看更多游戏
        </div>
      </div>
      <div
        class="mb-[1.2vw] flex justify-center items-center p-[0.36vw]"
        style="border: 1px solid rgba(176, 162, 158, 1); border-radius: 0.26vw; background: linear-gradient(270deg, rgba(240, 228, 221, 0.3) 0%, rgba(255, 255, 255, 0) 100%);"
      >
        <img src="/assets/images/右中.png" alt="" class="w-[21.41vw] h-[12.14vw] gameDBImg" />
      </div>
      <div
        class="flex justify-center items-center p-[0.36vw]"
        style="border: 1px solid rgba(176, 162, 158, 1); border-radius: 0.26vw; background: linear-gradient(270deg, rgba(240, 228, 221, 0.3) 0%, rgba(255, 255, 255, 0) 100%);"
      >
        <img src="/assets/images/右下.png" alt="" class="w-[21.41vw] h-[12.14vw] gameDBImg" />
      </div>
    </div>
  </div> -->
  <!-- <div
    class="pt-[16vw]"
    style="background-image: url('/assets/images/212bg.png');background-size: contain;background-repeat: no-repeat;   "
  >
    <Faceplate />
    <Partners />
    <Problem items={accordionItems} />
  </div> -->
</section>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var link = document.getElementById('gameLibraryLinkBtn');
    if (link) {
      link.addEventListener('click', function (event) {
        // 延迟执行，确保能够处理所有设备
        setTimeout(function () {
          window.location.href = '/gameLibrary';
        }, 10); // 延迟10ms避免阻止默认跳转的冲突
      });
    }
  });
</script>
<style>
  .background-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(176, 162, 158, 0.3);
    z-index: -1;
  }

.gameDB {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
}

.gameDBImg {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  filter: blur(0); /* 默认状态下，图片不模糊 */
  transform: scale(1); /* 默认图片大小 */
}

/* 当鼠标悬停在某个图片上时，其他图片模糊 */
.gameDB .gameDBImg:hover {
  transform: scale(1.05); /* 当前图片放大 */
}

/* 当鼠标悬停在父容器 gameDB 上时，所有图片保持清晰 */
.gameDB:hover .gameDBImg {
  filter: blur(0); /* 取消模糊效果 */
  transform: scale(1); /* 恢复原始大小 */
}

/* 当父容器 .gameDB 被 hover 时，其他没有被 hover 的图片模糊并缩小 */
.gameDB:hover .gameDBImg:not(:hover) {
  filter: blur(5px); /* 其他图片模糊 */
  transform: scale(0.9); /* 其他图片缩小 */
}

.circle-ring {
    position: relative;
    width: 0.469vw;
    height: 0.469vw;
    /* 用容器包裹，使所有圆心重叠 */
  }

  /* 外圆，最大圆 */
  .outer-circle {
    width: 0.469vw;
    height: 0.469vw;
    border-radius: 50%; /* 圆形 */
    border: 0.234vw solid rgba(255, 173, 148, 0.18);
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* 第二个圆，中间圆 */
  .middle-circle {
    width: 0.417vw;
    height: 0.417vw;
    border-radius: 50%;
    border: 0.208vw solid transparent;
    background: transparent;
    position: absolute;
    top: 0.026vw;
    left: 0.026vw;
  }

  /* 最小圆 */
  .inner-circle {
    width: 0.26vw;
    height: 0.26vw;
    border-radius: 50%;
    border: 0.13vw solid rgba(255, 173, 148, 0.18);
    background: rgba(255, 173, 148, 0.18);
    position: absolute;
    top: 0.104vw;
    left: 0.104vw;
  }
</style>
