---
// import { Icon } from 'astro-icon/components';
import Problem from '~/components/problem.astro';
import Partners from '~/components/partners.astro';
import Feature from '../feature.astro';
import Faceplate from '../faceplate.astro';

const accordionItems = [
  { title: '折叠面板 1', content: '这里是第一个折叠面板的内容。' },
  { title: '折叠面板 2', content: '这里是第二个折叠面板的内容。' },
  { title: '折叠面板 3', content: '这里是第三个折叠面板的内容。' },
];
---

<section
  class="not-prose ease-in-out pb-[150px]"
  style="background-color: #211d1b; background-size: cover; background-position: center;"
>
  <Feature />
  <div class="max-w-7xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium mt-[58px]">
    <img
      src="/assets/images/rmyxk.png"
      alt=""
      class="py-2.5 px-5.5 md:px-6 font-semibold shadow-none text-sm w-auto cursor-pointer"
    />
  </div>
  <div style="background-image: url('/assets/images/212bg.png') " class="py-40"><Faceplate /></div>
  <Partners />
  <Problem items={accordionItems} />
</section>
