<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <!-- 引入字体 -->
    <!-- 引入CSS（这里可以使用TailwindCSS等框架，或者自定义CSS） -->
</head>

<body class="bg-gray-100 font-roboto text-gray-900">
   
    游戏库页面
    <!-- 页脚 -->
    

    <!-- JavaScript文件 -->
    
</body>

</html>
