---
import Layout from '~/layouts/PageLayout.astro';
// import Footer from '~/components/widgets/Footer.astro';
---

<Layout showHeader={false} showFooter={true}>
  <div
    class="relative w-full"
    style="padding-top: 56.25%;background: linear-gradient(180deg, rgba(33, 29, 27, 1) 47.47%, rgba(255, 255, 255, 0) 100%, rgba(105, 101, 100, 0.5) 100%);"
  >
    <!-- 背景图层，应用背景模糊 -->
    <div
      class="absolute inset-0 bg-[url('/assets/images/默认选购.png')] bg-cover bg-no-repeat bg-center backdrop-blur-[10px] z-0"
    >
    </div>

    <!-- 吸附在顶部的导航栏 -->
    <div
      class="fixed flex justify-between items-center top-0 left-0 w-full h-[4.17vw] pr-[8.3333vw] pl-[7.1875vw] bg-white bg-opacity-30 z-50"
      style="background:rgba(105, 101, 100, 0.5)"
    >
      <div><img src="/assets/images/FFGameCloud-logo.png" class="w-[8.75vw] h-[2.08vw]" alt="" /></div>
      <div class="w-[6.25vw] h-[2.34vw] cursor-pointer flex justify-between items-center bg-white bg-opacity-30 rounded-[0.26vw] px-[0.8333vw] py-[0.625vw] group relative">
        <div style="font-size: 0.73vw;">控制台</div>
        <div><img src="/assets/images/控制台圆形.png" alt="" class="w-[1.4583vw] h-[1.4583vw]" /></div>
      
        <!-- 菜单 -->
        <div class="absolute top-full left-1/2 transform -translate-x-1/2 mt-[1.15vw] hidden group-hover:block group-focus-within:block focus-within:block shadow-lg rounded-[0.26vw]">
          <ul class="text-sm w-[12.0417vw] h-[10.4167vw] rounded-[0.2604vw] border-[0.0521vw] border-solid border-[rgba(0,_0,_0,_0.1)] backdrop-blur-[0.1vw] bg-[rgba(0,_0,_0,_0.4)]">
            <li class="w-[11.875vw] h-[2.5vw] flex items-center">
              <img src="/assets/images/usericon.svg" class="w-[1.3542vw] h-[1.3542vw] mx-[0.625vw]" alt="" />
              <div class="flex flex-col justify-center">
                <span style="font-size: 0.625vw; line-height: 1;">桃子</span>
                <span style="font-size: 0.5208vw; color: rgba(148, 148, 148, 1); line-height: 1;">54564654@qq.com</span>
              </div>
            </li>
            <li class="w-[11.875vw] h-[2.5vw] flex items-center">
              <img src="/assets/images/usericon.svg" class="w-[1.3542vw] h-[1.3542vw] mx-[0.625vw]" alt="" />
              <div class="flex flex-col justify-center">
                <span style="font-size: 0.625vw; line-height: 1;">桃子</span>
                <span style="font-size: 0.5208vw; color: rgba(148, 148, 148, 1); line-height: 1;">54564654@qq.com</span>
              </div>
            </li>
            <li class="w-[11.875vw] h-[2.5vw] flex items-center">
              <img src="/assets/images/usericon.svg" class="w-[1.3542vw] h-[1.3542vw] mx-[0.625vw]" alt="" />
              <div class="flex flex-col justify-center">
                <span style="font-size: 0.625vw; line-height: 1;">桃子</span>
                <span style="font-size: 0.5208vw; color: rgba(148, 148, 148, 1); line-height: 1;">54564654@qq.com</span>
              </div>
            </li>
            <li class="w-[11.875vw] h-[2.5vw] flex items-center justify-center text-center" style="border-top: 1px solid rgba(148, 148, 148, 1);font-size: 0.625vw;">
              退出登录
            </li>
          </ul>
        </div>
      </div>
      
    </div>

    <!-- 其他内容，确保它位于导航栏下方 -->
    <div class="pt-[4.17vw] px-4 z-10">
      <!-- 你其他的内容 -->
      <p>这里是其他内容</p>
    </div>
  </div>
</Layout>
