---
import Layout from '~/layouts/PageLayout.astro';
// import Footer from '~/components/widgets/Footer.astro';
---

<Layout showHeader={false} showFooter={true}>
  <div
    class="relative w-full"
    style="padding-top: 56.25%;background: linear-gradient(180deg, rgba(33, 29, 27, 1) 47.47%, rgba(255, 255, 255, 0) 100%, rgba(105, 101, 100, 0.5) 100%);"
  >
    <!-- 背景图层，应用背景模糊 -->
    <div
      class="absolute inset-0 bg-[url('/assets/images/默认选购.png')] bg-cover bg-no-repeat bg-center"
      style="filter: blur(0.52vw);"
    >
    </div>

    <!-- 吸附在顶部的导航栏 -->
    <div
      class="fixed flex justify-between items-center top-0 left-0 w-full h-[4.17vw] pr-[8.3333vw] pl-[7.1875vw] bg-white bg-opacity-30 z-50"
      style="background:rgba(105, 101, 100, 0.5)"
    >
      <div><img src="/assets/images/FFGameCloud-logo.png" class="w-[8.75vw] h-[2.08vw]" alt="" /></div>
      <div
        class="w-[6.25vw] h-[2.34vw] cursor-pointer flex justify-between items-center bg-white bg-opacity-30 rounded-[0.26vw] px-[0.8333vw] py-[0.625vw] group relative"
      >
        <div style="font-size: 0.73vw;color:#ffffff">控制台</div>
        <div><img src="/assets/images/控制台圆形.png" alt="" class="w-[1.4583vw] h-[1.4583vw]" /></div>

        <!-- 菜单 -->
        <div
          class="absolute top-full left-1/2 transform -translate-x-1/2 mt-[1.15vw] hidden group-hover:block group-focus-within:block focus-within:block shadow-lg rounded-[0.26vw]"
        >
          <ul
            class="text-sm w-[12.0417vw] rounded-[0.2604vw] border-solid border-[rgba(0,_0,_0,_0.1)] backdrop-blur-[0.1vw] bg-[rgba(0,_0,_0,_0.4)]"
          >
            <li class="h-[2.5vw] flex items-center">
              <img
                src="/assets/images/usericon.svg"
                class="w-[1.3542vw] h-[1.3542vw] ml-[0.625vw] mr-[0.5729vw]"
                alt=""
              />
              <div class="flex flex-col justify-center">
                <span style="font-size: 0.625vw; line-height: 1;color:#ffffff">桃子</span>
                <span style="font-size: 0.5208vw; color: rgba(148, 148, 148, 1); line-height: 1;">54564654@qq.com</span>
              </div>
            </li>
            <li class="h-[2.5vw] flex items-center" style="background-color:rgba(255, 255, 255, 0.5)">
              <img
                src="/assets/images/cashicon.svg"
                class="w-[0.78125vw] h-[0.78125vw] ml-[0.83vw] mr-[0.3646vw]"
                alt=""
              />
              <div class="flex flex-col justify-center">
                <div class="flex items-center" style="font-size: 0.625vw; line-height: 1;color:rgba(148, 148, 148, 1)">
                  <span>账户余额</span>
                  <div class="flex items-center justify-between ml-[1.875vw]">
                    <span style="font-size: 0.7292vw;color:rgba(255, 255, 255, 1)">￥0.00</span>
                    <img src="/assets/images/righticon.svg" class="w-[0.78125vw] h-[0.78125vw] ml-[2.1875vw]" alt="" />
                  </div>
                </div>
              </div>
            </li>
            <li class="h-[2.5vw] flex items-center">
              <img
                src="/assets/images/settingicon.svg"
                class="w-[0.78125vw] h-[0.78125vw] ml-[0.83vw] mr-[0.3646vw]"
                alt=""
              />
              <div class="flex items-center">
                <div style="font-size: 0.625vw; line-height: 1;color:rgba(148, 148, 148, 1)">账户设置</div>
                <img src="/assets/images/righticon.svg" class="w-[0.78125vw] h-[0.78125vw] ml-[6.2vw]" alt="" />
              </div>
            </li>
            <li
              class="h-[2.5vw] flex items-center justify-center text-center"
              style="border-top: 1px solid rgba(148, 148, 148, 1);font-size: 0.625vw;color:rgba(186, 179, 179, 1)"
            >
              <span style="color: 0.72vw; font-size: rgba(186, 179, 179, 1);">退出登录</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="absolute z-10 top-[4.17vw] h-[51.5vw] w-full">
      <div
        class="mt-[6.98vw] ml-[8.39vw] w-[15.1vw] h-[1.8vw] rounded-full flex items-center pl-[0.52vw]"
        style="font-size: 0.52vw;background-color:rgba(5, 0, 0, 0.3) "
      >
        <span style="color:rgba(242, 106, 22, 1); opacity: 1;">免费</span>
        <span style="color: #FFFFFF; opacity: 1;">为您的所有文件和数据从您的旧主机迁移到我们这里！</span>
      </div>
      <div
        class="mt-[0.46875vw] ml-[8.39vw] mb-[3.11vw] w-[7.08vw] h-[1.8vw] rounded-full flex items-center pl-[0.52vw]"
        style="font-size: 0.52vw;background-color:rgba(5, 0, 0, 0.3)"
      >
        <span style="color: #FFFFFF; opacity: 1;">可享专业在线客服</span>
        <span style="color:rgba(242, 106, 22, 1); opacity: 1;">协助 +</span>
      </div>
      <!-- 游戏 -->
      <div class="w-[87.04vw] h-[30.89vw] ml-[4.43vw]">
        <div class="w-[87.04vw] h-[3.03vw] pl-[64.8vw]">
          <span style="color:rgba(255, 255, 255, 1) ;font-size: 0.88vw ;">游戏：</span><span
            style="color: rgba(148, 148, 148, 100);font-size: 0.88vw ;">你想开服的游戏是？</span
          >
        </div>
        <div class="w-[87.04vw] flex justify-between">
          <div class="w-[62.5vw] h-[23.13vw] flex mr-[2.31vw]">
            <div class="w-[17.29vw] h-[23.13vw] relative" style="border-radius: 0.26vw 0px 0px 0.26vw;">
              <img src="/assets/images/幻音帕鲁-左.png" alt="" srcset="" class="w-[17.29vw] h-[23.13vw] absolute z-0" />
              <div class="w-[17.29vw] h-[23.13vw] absolute z-10 bg-[#0D010110] backdrop-blur-[1vw]">
                <div
                  class="h-[1.71875vw] w-[2.03125vw] ml-[1.8229vw] p-[0.2604vw] bg-[#F26A16]"
                  style="border-radius: 0vw 0vw 0.2604vw 0.2604vw;font-size: 0.7292vw;color:#FFFFFF;"
                >
                  推荐
                </div>
                <div class="ml-[1.8229vw] mt-[1.40625vw]" style="font-size: 1.5625vw;font-weight: 400;color:#FFFFFF;">
                  幻兽帕鲁
                </div>
                <div
                  class="mt-[0.2083vw] ml-[12.08vw] w-[3.6458vw] h-[1.5625vw] flex justify-center items-center cursor-pointer"
                  style="font-size: 0.625vw; border-radius: 0.2604vw; border: 0.0521vw solid #FFFFFF;"
                >
                  下载游戏
                </div>
                <div
                  class="w-[13.94vw] h-[4.89vw] ml-[1.8229vw] mt-[1.5625vw]"
                  style="font-size: 0.625vw;line-height:0.90625vw;"
                >
                  在广阔的世界中收集神奇的生物“帕鲁”，派他们进行战斗、建造、做农活，工业生产等，这是一款支持多人游戏模式的全新开放世界生存制作游戏。
                </div>
                <div class="mt-[1.5vw] ml-[1.8229vw]" style="font-size: 0.7292vw; color:#949494;line-height: 20.27px;">
                  开服价：20元/月起
                </div>
                <div class="mt-[1.9792vw] ml-[1.8229vw]" style="font-size: 0.625vw;color:#FFFFFF;">操作方式</div>
                <div class="flex items-center mt-[0.52vw]">
                  <img
                    src="/assets/images/pc-icon.svg"
                    alt=""
                    class="ml-[3.28125vw] w-[1.46vw] h-[1.67vw] cursor-pointer"
                  />
                  <img src="/assets/images/手机.svg" alt="" class="ml-[1.5vw] w-[1.41vw] h-[1.56vw] cursor-pointer" />
                  <img
                    src="/assets/images/switch-filled.svg"
                    alt=""
                    class="ml-[1.5vw] w-[1.6667vw] h-[1.71875vw] cursor-pointer"
                  />
                  <img src="/assets/images/steam2.svg" alt="" class="ml-[1.93vw] w-[1.3vw] h-[1.3vw] cursor-pointer" />
                </div>
              </div>
            </div>
            <div class="w-[45.21vw] h-[23.13vw]" style="border-radius: 0px 0.26vw 0.26vw 0px;">
              <img src="/assets/images/幻音帕鲁.png" alt="" srcset="" class="w-[45.21vw] h-[23.13vw]" />
            </div>
          </div>
          <div class="w-[22.2vw] h-[23.13vw] flex flex-col justify-between">
            <div
              class="w-[22.2vw] h-[5.1vw] pl-[2vw] pr-[1.1vw] flex justify-between items-center"
              style="background: linear-gradient(270deg, #00000030 36.62%, #403D3D60 100%);border: 0.05208vw solid #B0A29E;border-radius: 0.26vw;"
            >
              <div>
                <div style="font-size: 0.89vw; color:#FFFFFF" class="mb-[0.678vw]">幻兽帕鲁</div>
                <div style="font-size: 0.57vw; " class="flex">
                  <div
                    class="w-[3.23vw] h-[1.04vw] text-center leading-[1.04vw] rounded-full text-[#F26A16] bg-[#2E2522] mr-[0.5208vw] flex items-center justify-center"
                  >
                    休闲游戏
                  </div>
                  <div
                    class="w-[3.23vw] h-[1.04vw] text-center leading-[1.04vw] rounded-full text-[#949494] bg-[#2E2522] mr-[0.5208vw] flex items-center justify-center"
                  >
                    卡牌游戏
                  </div>
                  <div
                    class="w-[3.23vw] h-[1.04vw] text-center leading-[1.04vw] rounded-full text-[#949494] bg-[#2E2522] mr-[0.5208vw] flex items-center justify-center"
                  >
                    手游游戏
                  </div>
                </div>
              </div><img src="/assets/images/gamelogo.png" class="w-[3vw] h-[3vw]" alt="" srcset="" />
            </div>
            <div
              class="w-[22.2vw] h-[5.1vw] pl-[2vw] pr-[1.1vw] flex justify-between items-center"
              style="background: linear-gradient(270deg, #00000030 36.62%, #403D3D30 100%);border: 0.05208vw solid #B0A29E;border-radius: 0.26vw;"
            >
              <div>
                <div style="font-size: 0.89vw; color:#FFFFFF" class="mb-[0.678vw]">我的世界</div>
                <div style="font-size: 0.57vw; " class="flex">
                  <div
                    class="w-[3.23vw] h-[1.04vw] text-center leading-[1.04vw] rounded-full text-[#F26A16] bg-[#2E2522] mr-[0.5208vw] flex items-center justify-center"
                  >
                    休闲游戏
                  </div>
                  <div
                    class="w-[3.23vw] h-[1.04vw] text-center leading-[1.04vw] rounded-full text-[#949494] bg-[#2E2522] mr-[0.5208vw] flex items-center justify-center"
                  >
                    卡牌游戏
                  </div>
                  <div
                    class="w-[3.23vw] h-[1.04vw] text-center leading-[1.04vw] rounded-full text-[#949494] bg-[#2E2522] mr-[0.5208vw] flex items-center justify-center"
                  >
                    手游游戏
                  </div>
                </div>
              </div><img src="/assets/images/gamelogo.png" class="w-[3vw] h-[3vw]" alt="" srcset="" />
            </div>
            <div
              class="w-[22.2vw] h-[5.1vw] pl-[2vw] pr-[1.1vw] flex justify-between items-center"
              style="background: linear-gradient(270deg, #00000030 36.62%, #403D3D30 100%);border: 0.05208vw solid #B0A29E;border-radius: 0.26vw;"
            >
              <div>
                <div style="font-size: 0.89vw; color:#FFFFFF" class="mb-[0.678vw]">腐蚀 : Rust</div>
                <div style="font-size: 0.57vw; " class="flex">
                  <div
                    class="w-[3.23vw] h-[1.04vw] text-center leading-[1.04vw] rounded-full text-[#F26A16] bg-[#2E2522] mr-[0.5208vw] flex items-center justify-center"
                  >
                    休闲游戏
                  </div>
                  <div
                    class="w-[3.23vw] h-[1.04vw] text-center leading-[1.04vw] rounded-full text-[#949494] bg-[#2E2522] mr-[0.5208vw] flex items-center justify-center"
                  >
                    卡牌游戏
                  </div>
                  <div
                    class="w-[3.23vw] h-[1.04vw] text-center leading-[1.04vw] rounded-full text-[#949494] bg-[#2E2522] mr-[0.5208vw] flex items-center justify-center"
                  >
                    手游游戏
                  </div>
                </div>
              </div><img src="/assets/images/gamelogo.png" class="w-[3vw] h-[3vw]" alt="" srcset="" />
            </div>
            <div
              class="w-[22.2vw] h-[5.1vw] pl-[2vw] pr-[1.1vw] bg-[#524242] flex justify-between items-center"
              style="border: 0.05208vw solid #B0A29E;border-radius: 0.26vw;"
            >
              <div>
                <div style="font-size: 0.89vw; color:#FFFFFF" class="mb-[0.678vw]">幻兽帕鲁</div>
                <div style="font-size: 0.57vw; " class="flex">
                  <div
                    class="w-[3.23vw] h-[1.04vw] text-center leading-[1.04vw] rounded-full text-[#F26A16] bg-[#2E2522] mr-[0.5208vw] flex items-center justify-center"
                  >
                    休闲游戏
                  </div>
                  <div
                    class="w-[3.23vw] h-[1.04vw] text-center leading-[1.04vw] rounded-full text-[#949494] bg-[#2E2522] mr-[0.5208vw] flex items-center justify-center"
                  >
                    卡牌游戏
                  </div>
                  <div
                    class="w-[3.23vw] h-[1.04vw] text-center leading-[1.04vw] rounded-full text-[#949494] bg-[#2E2522] mr-[0.5208vw] flex items-center justify-center"
                  >
                    手游游戏
                  </div>
                </div>
              </div><img src="/assets/images/gamelogo.png" class="w-[3vw] h-[3vw]" alt="" srcset="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
