<div
  class="w-[81.02vw] h-[16.56vw] flex justify-between pl-[7.19vw] pr-[5.83vw] mx-auto ease-in-out motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade border"
  style="border-radius: 0.52vw; /* Converted 10px to vw */
         background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
         border: 1px solid rgba(176, 162, 158, 1);"
>
  <div class="flex flex-col justify-center" style="color: #FFF;">
    <img src="/assets/images/faceplatetxt.png" alt="" class="w-[33.70vw] h-[2.92vw]" />
    <div style="font-size: 0.94vw;" class="flex flex-col justify-start">
      <div>快速部署您个人的游戏服务器，托管于国内稳定BGP数据中心。</div>
      <div>体验三分钟极速开服乐趣!</div>
    </div>
  </div>

  <div class="flex items-center justify-end cursor-pointer">
    <!-- <img src="/assets/images/管理中心.png" alt=""  /> -->
    <a
      href=""
      class="w-[13.75vw] h-[4.17vw] relative inline-block text-center leading-[4.17vw] text-white rounded-[0.3125vw] bg-gradient-to-r from-[#40C6FF] to-[#1C80EB] transition-all duration-500 ease-in-out hover:scale-105"
      style="background-size: 200% 100%; transition: background-position 0.5s ease-in-out, transform 0.5s ease-in-out;font-size: 1.3542vw;"
    >
      管理中心
    </a>
  </div>
</div>
