<div
  class="w-full flex justify-between p-10 mx-auto max-w-7xl my-6 ease-in-out motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade border"
  style="border-color: #5c5554;"
>
  <div class="flex-1">
    <img src="../../src/assets/images/faceplatetxt.png" alt="" />
    <div>快速部署您个人的游戏服务器，托管于国内稳定BGP数据中心。</div>
    <div>体验三分钟极速开服乐趣!</div>
  </div>
  <div
  class="flex-1 flex  items-center justify-end text-xs px-4   cursor-pointer"
  >
  <img src="../../src/assets/images/管理中心.png" alt="" />
  </div>
</div>
