<!-- <div
  class="w-full mx-auto max-w-7xl ease-in-out motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade pt-[125px]"
>
  <img src="/assets/images/分组32.png" alt="" />
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <img />
</div> -->
<div class="mx-auto w-full h-[22.29vw] flex justify-center">
  <div class="w-[21.53vw] flex flex-col justify-between items-center" style="border: 0.1vw solid #fff00000">
    <div class="w-[21.53vw] h-[7.29vw] relative" style="border: 0.1vw solid #B0A29E; border-radius: 5px;">
        <!-- 圆的位置 -->
        <!-- <div class="absolute right-[-0.365vw] top-1/2 transform -translate-y-1/2 
                    w-[0.73vw] h-[0.73vw] bg-[#B0A29E] rounded-full z-10"></div> -->
        1
      </div>
      
    <div class="w-[21.53vw] h-[7.29vw]" style="border: 0.1vw solid #B0A29E;border-radius: 5px;">3</div>
  </div>
  <div class="w-[39.3vw] flex items-center justify-center" style="border: 0.1vw solid #20d2df00">
    <div class="w-[7.6vw] h-[15.6vw] relative border-[0.1vw] border-[#4A3E32] border-l-[#20d2df00]">
      <!-- A圆 - 左上角 -->
      <div
        class="absolute w-[1vw] h-[1vw] bg-[url('/assets/images/圆点.png')]  bg-no-repeat bg-center bg-cover rounded-full top-0 left-0 transform -translate-x-1/2 -translate-y-1/2 z-10"
      >
      </div>
      <!-- B圆 - 右边框顶部四分之一处 -->
      <div
        class="absolute w-[1vw] h-[1vw] bg-[url('/assets/images/圆点.png')]  bg-no-repeat bg-center bg-cover rounded-full top-[25%] right-0 transform translate-x-1/2 -translate-y-1/2 z-10"
      >
      </div>
      <!-- C圆 - 底部边框二分之一处 -->
      <div
        class="absolute w-[1vw] h-[1vw] bg-[url('/assets/images/圆点.png')]  bg-no-repeat bg-center bg-cover rounded-full rounded-full bottom-0 left-1/2 transform -translate-x-1/2 translate-y-1/2 z-10"
      >
      </div>
    </div>
    <div class="w-[24.1vw] h-[15.6vw] relative">
      <!-- 横线 -->
      <div class="absolute top-1/2 left-0 w-full h-[0.1vw] bg-[#4A3E32]"></div>
      <!-- 圆形图片 -->
      <img
        src="/assets/images/圆.png"
        alt="芯"
        class="w-[8.5vw] h-[8.5vw] absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10"
      />
    </div>
    <div class="w-[7.6vw] h-[15.6vw] relative" style="border: 0.1vw solid #4A3E32;border-right-color: #20d2df00 ;">
        <div class="w-[7.6vw] h-[15.6vw] relative border-[0.1vw] border-[#4A3E32] border-r-[#20d2df00]">
            <!-- A圆 - 左上角 -->
            <div
              class="absolute w-[1vw] h-[1vw] bg-[url('/assets/images/圆点.png')]  bg-no-repeat bg-center bg-cover rounded-full top-0 right-0 transform translate-x-1/2 -translate-y-1/2 z-10"
            >
            </div>
            <!-- B圆 - 右边框顶部四分之一处 -->
            <div
              class="absolute w-[1vw] h-[1vw] bg-[url('/assets/images/圆点.png')]  bg-no-repeat bg-center bg-cover rounded-full top-[50%] left-0 transform -translate-x-1/2 -translate-y-1/2 z-10"
            >
            </div>
            <!-- C圆 - 底部边框二分之一处 -->
            <div
              class="absolute w-[1vw] h-[1vw] bg-[url('/assets/images/圆点.png')]  bg-no-repeat bg-center bg-cover rounded-full rounded-full bottom-0 left-1/2 transform -translate-x-1/2 translate-y-1/2 z-10"
            >
            </div>
          </div>
    </div>
  </div>
  <div class="w-[21.53vw] flex flex-col justify-between items-center" style="border: 0.1vw solid #fff00000">
    <div class="w-[21.53vw] h-[7.29vw]" style="border: 0.1vw solid #B0A29E;border-radius: 5px;">2</div>
    <div class="w-[21.53vw] h-[7.29vw]" style="border: 0.1vw solid #B0A29E;border-radius: 5px;">4</div>
  </div>
</div>
