---
import { SITE } from 'astrowind:config';
import image from '~/assets/images/game-img.png'; // 导入图片文件
---

<div
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <!-- 🦄 {SITE?.name} -->
  <img src="/assets/images/FFGameCloud-logo.png" alt="My Image" />
</div>
