<div class="w-full px-auto ease-in-out motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade mt-[10.94vw] backdrop-blur-lg">
    <img src="/assets/images/partners.png" alt="" class="w-[81.02vw] h-[21.56vw] mx-auto">
</div>
