<div
  class="mx-auto ease-in-out motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade mt-[10.94vw] backdrop-blur-lg"
>
  <!-- <img src="/assets/images/partners.png" alt="" class="w-[81.02vw] h-[21.56vw] mx-auto"> -->
  <div class="mb-[0.25vw] w-[61.61vw] h-[100%] mx-auto">
    <!-- <img src="/assets/images/独家特色.png" alt="" class="w-[61.77vw] h-[5.21vw]" /> -->
    <!-- 纯代码实现独家特色标题 -->
    <div class="flex">
      <div class="h-[1.458vw] w-[23.02vw]">
        <div class="h-[1.458vw] w-[23.02vw]" style="border-bottom: 0.052vw solid rgba(255, 173, 148, 0.18);">
          <div class="h-[1.458vw] w-[23.02vw] relative" style="border-bottom: 0.052vw solid rgba(255, 173, 148, 0.18);">
            <div class="absolute bottom-0 left-0 transform translate-x-[-100%] translate-y-[50%]">
              <div class="circle-ring">
                <div class="outer-circle"></div>
                <div class="middle-circle"></div>
                <div class="inner-circle"></div>
              </div>
            </div>
            <div
              class="w-[0.26vw] h-[0.26vw] bg-[#FFAD9430] absolute bottom-0 right-0 transform translate-x-[100%] translate-y-[50%]"
              style="border-radius: 50%;"
            >
            </div>
          </div>
        </div>
        <div class="h-[1.458vw] w-[23.02vw]"></div>
      </div>
      <div class="w-[7.916vw] h-[2.916vw] flex justify-center mx-auto" style="font-size: 1.562vw;font-weight: 400;">
        <!-- <span class="text-[#F26A16]">独家</span> -->
        <span class="text-[#FFFFFF]">运营合作商</span>
      </div>
      <div class="h-[1.458vw] w-[23.02vw]">
        <div class="h-[1.458vw] w-[23.02vw] relative" style="border-bottom: 0.052vw solid rgba(255, 173, 148, 0.18);">
          <div class="absolute bottom-0 right-0 transform translate-x-[100%] translate-y-[50%]">
            <div class="circle-ring">
              <div class="outer-circle"></div>
              <div class="middle-circle"></div>
              <div class="inner-circle"></div>
            </div>
          </div>
          <div
            class="w-[0.26vw] h-[0.26vw] bg-[#FFAD9430] absolute bottom-0 left-0 transform translate-x-[-100%] translate-y-[50%]"
            style="border-radius: 50%;"
          >
          </div>
        </div>
        <div class="h-[1.458vw] w-[23.02vw]"></div>
      </div>
    </div>
    <div class="flex justify-center items-center flex-col">
      <div
        class="w-[22.08vw] h-[0.052vw] mb-[1.04vw]"
        style="background: linear-gradient(to right, rgba(242, 106, 22, 0) 0%, rgba(242, 106, 22, 1) 50%, rgba(242, 106, 22, 0) 100%); height: 0.078vw;"
      >
      </div>
      <div class="text-[#949494]" style="width: fit-content;font-size: 0.833vw;">高速BGP网络接入，开黑不掉线</div>
    </div>
  </div>
  <!-- 合作商 -->
  <div class="mx-auto h-[16.875vw] bg-[#5cd2d200] flex justify-start flex-col items-center">
    <!-- 第一行合作商 -->
    <div class="flex">
      <div class="father-box father-box-1" style="position: relative; width: 17.5vw; height: 7.708vw; ">
        <div class="partner-up-icon-box relative hover:-translate-y-[0.1vw] duration-300" style="position: relative;">
          <!-- 使用SVG来实现渐变边框 -->
          <svg
            width="100%"
            height="100%"
            viewBox="0 0 180 48"
            style="position: absolute; top: 0; left: 0; pointer-events: none;"
          >
            <!-- 定义渐变颜色 -->
            <defs>
              <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="6.25%" style="stop-color:#FFFFFF;stop-opacity:1"></stop>
                <stop offset="35.63%" style="stop-color:#F0D1C0;stop-opacity:1"></stop>
                <stop offset="79.31%" style="stop-color:#F2DAC7;stop-opacity:1"></stop>
                <stop offset="100%" style="stop-color:#FFFFFF;stop-opacity:1"></stop>
              </linearGradient>
            </defs>
            <!-- 使用矩形并设置渐变边框 -->
            <rect x="1" y="0" width="178" height="48" rx="6" ry="6" fill="none" stroke="url(#grad1)" stroke-width="1"
            ></rect>
          </svg>

          <!-- 实际内容: 图片 -->
          <img src="/assets/images/中国电信.svg" class="partner-icon" alt="" />
        </div>
      </div>
      <!-- <div class="father-box father-box-1">
        <div class="partner-up-icon-box">
          <img class="partner-icon" src="/assets/images/中国电信.svg" alt="" srcset="" />
        </div>
      </div> -->
      <div class="flex w-[52.5vw] bg-[#36c59c00]">
        <!-- <div class="father-box father-box-2">
          <div class="partner-up-icon-box">
            <img class="partner-icon" src="/assets/images/disnep.svg" alt="" srcset="" />
          </div>
        </div> -->
        <div class="father-box father-box-2" style="position: relative; width: 17.5vw; height: 7.708vw; ">
          <div class="partner-up-icon-box relative hover:-translate-y-[0.1vw] duration-300" style="position: relative;">
            <!-- 使用SVG来实现渐变边框 -->
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 180 48"
              style="position: absolute; top: 0; left: 0; pointer-events: none;"
            >
              <!-- 定义渐变颜色 -->
              <defs>
                <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                  <stop offset="6.25%" style="stop-color:#FFFFFF;stop-opacity:1"></stop>
                  <stop offset="35.63%" style="stop-color:#F0D1C0;stop-opacity:1"></stop>
                  <stop offset="79.31%" style="stop-color:#F2DAC7;stop-opacity:1"></stop>
                  <stop offset="100%" style="stop-color:#FFFFFF;stop-opacity:1"></stop>
                </linearGradient>
              </defs>
              <!-- 使用矩形并设置渐变边框 -->
              <rect x="1" y="0" width="178" height="48" rx="6" ry="6" fill="none" stroke="url(#grad1)" stroke-width="1"
              ></rect>
            </svg>

            <!-- 实际内容: 图片 -->
            <img src="/assets/images/disnep.svg" class="partner-icon" alt="" />
          </div>
        </div>
        <!-- <div class="father-box father-box-3">
          <div class="partner-up-icon-box">
            <img class="partner-icon" src="/assets/images/Facebook .svg" alt="" srcset="" />
          </div>
        </div> -->
        <div class="father-box father-box-3" style="position: relative; width: 17.5vw; height: 7.708vw; ">
          <div class="partner-up-icon-box relative hover:-translate-y-[0.1vw] duration-300" style="position: relative;">
            <!-- 使用SVG来实现渐变边框 -->
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 180 48"
              style="position: absolute; top: 0; left: 0; pointer-events: none;"
            >
              <!-- 定义渐变颜色 -->
              <defs>
                <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                  <stop offset="6.25%" style="stop-color:#FFFFFF;stop-opacity:1"></stop>
                  <stop offset="35.63%" style="stop-color:#F0D1C0;stop-opacity:1"></stop>
                  <stop offset="79.31%" style="stop-color:#F2DAC7;stop-opacity:1"></stop>
                  <stop offset="100%" style="stop-color:#FFFFFF;stop-opacity:1"></stop>
                </linearGradient>
              </defs>
              <!-- 使用矩形并设置渐变边框 -->
              <rect x="1" y="0" width="178" height="48" rx="6" ry="6" fill="none" stroke="url(#grad1)" stroke-width="1"
              ></rect>
            </svg>

            <!-- 实际内容: 图片 -->
            <img src="/assets/images/Facebook .svg" class="partner-icon" alt="" />
          </div>
        </div>
        <!-- <div class="father-box father-box-4">
          <div class="partner-up-icon-box">
            <img class="partner-icon" src="/assets/images/Airbnb.svg" alt="" srcset="" />
          </div>
        </div> -->
        <div class="father-box father-box-4" style="position: relative; width: 17.5vw; height: 7.708vw; ">
          <div class="partner-up-icon-box relative hover:-translate-y-[0.1vw] duration-300" style="position: relative;">
            <!-- 使用SVG来实现渐变边框 -->
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 180 48"
              style="position: absolute; top: 0; left: 0; pointer-events: none;"
            >
              <!-- 定义渐变颜色 -->
              <defs>
                <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                  <stop offset="6.25%" style="stop-color:#FFFFFF;stop-opacity:1"></stop>
                  <stop offset="35.63%" style="stop-color:#F0D1C0;stop-opacity:1"></stop>
                  <stop offset="79.31%" style="stop-color:#F2DAC7;stop-opacity:1"></stop>
                  <stop offset="100%" style="stop-color:#FFFFFF;stop-opacity:1"></stop>
                </linearGradient>
              </defs>
              <!-- 使用矩形并设置渐变边框 -->
              <rect x="1" y="0" width="178" height="48" rx="6" ry="6" fill="none" stroke="url(#grad1)" stroke-width="1"
              ></rect>
            </svg>

            <!-- 实际内容: 图片 -->
            <img src="/assets/images/Airbnb.svg" class="partner-icon" alt="" />
          </div>
        </div>
      </div>
      <!-- <div class="father-box father-box-5">
        <div class="partner-up-icon-box">
          <img class="partner-icon" src="/assets/images/华为灰.svg" alt="" srcset="" />
        </div>
      </div> -->
      <div class="father-box father-box-5" style="position: relative; width: 17.5vw; height: 7.708vw; ">
        <div class="partner-up-icon-box relative hover:-translate-y-[0.1vw] duration-300" style="position: relative;">
          <!-- 使用SVG来实现渐变边框 -->
          <svg
            width="100%"
            height="100%"
            viewBox="0 0 180 48"
            style="position: absolute; top: 0; left: 0; pointer-events: none;"
          >
            <!-- 定义渐变颜色 -->
            <defs>
              <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="6.25%" style="stop-color:#FFFFFF;stop-opacity:1"></stop>
                <stop offset="35.63%" style="stop-color:#F0D1C0;stop-opacity:1"></stop>
                <stop offset="79.31%" style="stop-color:#F2DAC7;stop-opacity:1"></stop>
                <stop offset="100%" style="stop-color:#FFFFFF;stop-opacity:1"></stop>
              </linearGradient>
            </defs>
            <!-- 使用矩形并设置渐变边框 -->
            <rect x="1" y="0" width="178" height="48" rx="6" ry="6" fill="none" stroke="url(#grad1)" stroke-width="1"
            ></rect>
          </svg>

          <!-- 实际内容: 图片 -->
          <img src="/assets/images/华为灰.svg" class="partner-icon" alt="" />
        </div>
      </div>
    </div>
    <!-- 第二行合作商 -->
    <div class="flex">
      <div class="flex">
        <div class="fathrt-down-box father-box-6" style="position: relative; width: 13.5vw; height: 7.708vw; ">
          <div class="partner-down-icon-box relative hover:-translate-y-[0.1vw] duration-300" style="position: relative;">
            <!-- 使用SVG来实现渐变边框 -->
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 120 48"
              style="position: absolute; top: 0; left: 0; pointer-events: none;"
            >
              <!-- 定义渐变颜色 -->
              <defs>
                <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                  <stop offset="6.25%" style="stop-color:#FFFFFF;stop-opacity:1"></stop>
                  <stop offset="35.63%" style="stop-color:#F0D1C0;stop-opacity:1"></stop>
                  <stop offset="79.31%" style="stop-color:#F2DAC7;stop-opacity:1"></stop>
                  <stop offset="100%" style="stop-color:#FFFFFF;stop-opacity:1"></stop>
                </linearGradient>
              </defs>
              <!-- 使用矩形并设置渐变边框 -->
              <rect x="1" y="1" width="118" height="46" rx="6" ry="6" fill="none" stroke="url(#grad1)" stroke-width="1"
              ></rect>
            </svg>

            <!-- 实际内容: 图片 -->
            <img src="/assets/images/谷歌.svg" class="partner-icon" alt="" />
          </div>
        </div>
        <div class="fathrt-down-box father-box-7" style="position: relative; width: 13.5vw; height: 7.708vw; ">
          <div class="partner-down-icon-box relative hover:-translate-y-[0.1vw] duration-300" style="position: relative;">
            <!-- 使用SVG来实现渐变边框 -->
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 120 48"
              style="position: absolute; top: 0; left: 0; pointer-events: none;"
            >
              <!-- 定义渐变颜色 -->
              <defs>
                <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                  <stop offset="6.25%" style="stop-color:#FFFFFF;stop-opacity:1"></stop>
                  <stop offset="35.63%" style="stop-color:#F0D1C0;stop-opacity:1"></stop>
                  <stop offset="79.31%" style="stop-color:#F2DAC7;stop-opacity:1"></stop>
                  <stop offset="100%" style="stop-color:#FFFFFF;stop-opacity:1"></stop>
                </linearGradient>
              </defs>
              <!-- 使用矩形并设置渐变边框 -->
              <rect x="1" y="1" width="118" height="46" rx="6" ry="6" fill="none" stroke="url(#grad1)" stroke-width="1"
              ></rect>
            </svg>

            <!-- 实际内容: 图片 -->
            <img src="/assets/images/戴尔.svg" class="partner-icon" alt="" />
          </div>
        </div>
      </div>
      <div class="flex">
        <!-- <div class="fathrt-down-box father-box-8">
          <div class="partner-down-icon-box">
            <img src="/assets/images/Bing.svg" class="partner-icon" alt="" srcset="" />
          </div>
        </div> -->
        <div class="fathrt-down-box father-box-8" style="position: relative; width: 13.5vw; height: 7.708vw; ">
          <div class="partner-down-icon-box relative hover:-translate-y-[0.1vw] duration-300" style="position: relative;">
            <!-- 使用SVG来实现渐变边框 -->
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 120 48"
              style="position: absolute; top: 0; left: 0; pointer-events: none;"
            >
              <!-- 定义渐变颜色 -->
              <defs>
                <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                  <stop offset="6.25%" style="stop-color:#FFFFFF40;stop-opacity:1"></stop>
                  <stop offset="35.63%" style="stop-color:#F0D1C0;stop-opacity:1"></stop>
                  <stop offset="79.31%" style="stop-color:#F2DAC7;stop-opacity:1"></stop>
                  <stop offset="100%" style="stop-color:#FFFFFF40;stop-opacity:1"></stop>
                </linearGradient>
              </defs>
              <!-- 使用矩形并设置渐变边框 -->
              <rect x="1" y="1" width="118" height="46" rx="6" ry="6" fill="none" stroke="url(#grad1)" stroke-width="1"
              ></rect>
            </svg>

            <!-- 实际内容: 图片 -->
            <img src="/assets/images/Bing.svg" class="partner-icon" alt="" />
          </div>
        </div>
      </div>
      <div class="flex">
        <!-- <div class="fathrt-down-box father-box-9">
          <div class="partner-down-icon-box">
            <img src="/assets/images/Cisco.svg" class="partner-icon" alt="" srcset="" />
          </div>
        </div> -->
        <div class="fathrt-down-box father-box-9" style="position: relative; width: 13.5vw; height: 7.708vw; ">
          <div class="partner-down-icon-box relative hover:-translate-y-[0.1vw] duration-300" style="position: relative;">
            <!-- 使用SVG来实现渐变边框 -->
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 120 48"
              style="position: absolute; top: 0; left: 0; pointer-events: none;"
            >
              <!-- 定义渐变颜色 -->
              <defs>
                <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                  <stop offset="6.25%" style="stop-color:#FFFFFF;stop-opacity:1"></stop>
                  <stop offset="35.63%" style="stop-color:#F0D1C0;stop-opacity:1"></stop>
                  <stop offset="79.31%" style="stop-color:#F2DAC7;stop-opacity:1"></stop>
                  <stop offset="100%" style="stop-color:#FFFFFF;stop-opacity:1"></stop>
                </linearGradient>
              </defs>
              <!-- 使用矩形并设置渐变边框 -->
              <rect x="1" y="1" width="118" height="46" rx="6" ry="6" fill="none" stroke="url(#grad1)" stroke-width="1"
              ></rect>
            </svg>

            <!-- 实际内容: 图片 -->
            <img src="/assets/images/Cisco.svg" class="partner-icon" alt="" />
          </div>
        </div>
        <!-- 测试 -->
        <div class="fathrt-down-box father-box-10" style="position: relative; width: 13.5vw; height: 7.708vw; ">
          <div class="partner-down-icon-box relative hover:-translate-y-[0.1vw] duration-300" style="position: relative;">
            <!-- 使用SVG来实现渐变边框 -->
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 120 48"
              style="position: absolute; top: 0; left: 0; pointer-events: none;"
            >
              <!-- 定义渐变颜色 -->
              <defs>
                <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                  <stop offset="6.25%" style="stop-color:#FFFFFF;stop-opacity:1"></stop>
                  <stop offset="35.63%" style="stop-color:#F0D1C0;stop-opacity:1"></stop>
                  <stop offset="79.31%" style="stop-color:#F2DAC7;stop-opacity:1"></stop>
                  <stop offset="100%" style="stop-color:#FFFFFF;stop-opacity:1"></stop>
                </linearGradient>
              </defs>
              <!-- 使用矩形并设置渐变边框 -->
              <rect x="1" y="1" width="118" height="46" rx="6" ry="6" fill="none" stroke="url(#grad1)" stroke-width="1"
              ></rect>
            </svg>

            <!-- 实际内容: 图片 -->
            <img src="/assets/images/Steam.svg" class="partner-icon" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .circle-ring {
    position: relative;
    width: 0.469vw;
    height: 0.469vw;
    /* 用容器包裹，使所有圆心重叠 */
  }

  /* 外圆，最大圆 */
  .outer-circle {
    width: 0.469vw;
    height: 0.469vw;
    border-radius: 50%; /* 圆形 */
    border: 0.234vw solid rgba(255, 173, 148, 0.18);
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* 第二个圆，中间圆 */
  .middle-circle {
    width: 0.417vw;
    height: 0.417vw;
    border-radius: 50%;
    border: 0.208vw solid transparent;
    background: transparent;
    position: absolute;
    top: 0.026vw;
    left: 0.026vw;
  }

  /* 最小圆 */
  .inner-circle {
    width: 0.26vw;
    height: 0.26vw;
    border-radius: 50%;
    border: 0.13vw solid rgba(255, 173, 148, 0.18);
    background: rgba(255, 173, 148, 0.18);
    position: absolute;
    top: 0.104vw;
    left: 0.104vw;
  }
  .partner-icon {
    width: 8.953vw;
    height: 2.187vw;
  }
  .partner-up-icon-box {
    width: 15vw;
    height: 4.375vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 0.104vw solid #b0a29e;
    border-radius: 0.485vw; */
  }
  /* .partner-down-icon-box {
    width: 11.145vw;
    height: 4.375vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.104vw solid #b0a29e;
    border-radius: 0.485vw;
    
  } */
  .partner-down-icon-box {
    width: 11.145vw;
    height: 4.375vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .father-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17.5vw;
    height: 7.708vw;
    background-color: #332cf200;
    /* border: 1px solid #4A3E32; */
    cursor: pointer;
  }
  
  .fathrt-down-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13.5vw;
    height: 7.708vw;
    background-color: #332cf200;
    /* border: 1px solid #4A3E32; */
    cursor: pointer;
  }
  /* .partner-up-icon-box:hover{
    background-color: aqua;
  } */
  .father-box-1 {
  border-top: 1px solid transparent; /* 初始设置透明边框 */
  border-right: 1px solid #4a3e32;  /* 右边框设置为常规颜色 */
  border-image: linear-gradient(to right, transparent 0%, transparent 66%, transparent 66%, #4a3e32 100%) 1; /* 设置渐变边框 */
}

  .father-box-2 {
    /* border-bottom: 1px solid #4A3E32; */
  }
  .father-box-3 {
  }
  .father-box-4 {
  }
  .father-box-5 {
    border-left: 1px solid #4a3e32;
    border-top: 1px solid transparent; /* 初始设置透明边框 */
  border-image: linear-gradient(to left, transparent 0%, transparent 66%, transparent 66%, #4a3e32 100%) 1; /* 设置渐变边框 */
  }
  .father-box-6 {
    /* border-top: 1px solid #4A3E32; */
    border-top: 1px solid transparent; /* 边框宽度和透明边框 */
    border-image: linear-gradient(to right, transparent 0%, transparent 55%, #4a3e32 55%, #4a3e32 100%) 1;
  }
  .father-box-7 {
    border-top: 1px solid #4a3e32;
    border-right: 1px solid #4a3e32;
  }
  .father-box-8 {
  }
  .father-box-9 {
    border-top: 1px solid #4a3e32;
    border-left: 1px solid #4a3e32;
    
  }
  .father-box-10 {
    border-top: 1px solid #4a3e32;
    border-top: 1px solid transparent; /* 边框宽度和透明边框 */
    border-image: linear-gradient(to right, #4a3e32 0%, #4a3e32 45%, transparent 45%, transparent 100%) 1;
  }

</style>
